<p id="notice"><%= notice %></p>

<h1>Uploaders</h1>

<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Title</th>
      <th>Info</th>
      <th>Movie</th>
      <th>Show</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @uploaders.each do |uploader| %>
      <tr>
        <td>
          <% if uploader.photo.present? %>
            <%= image_tag uploader.photo.url(:thumb) %>
          <% else %>
            "NO photo"
          <% end %>
        </td>
        <td><%= uploader.title %></td>
        <td><%= uploader.info %></td>

        <td>
          <% if uploader.movie.present? %>
            <%= image_tag uploader.movie.url(:thumb) %>
          <% else %>
            "No movie"
          <% end %>
        </td>

        <td><%= link_to 'Show', uploader %></td>
        <td><%= link_to 'Edit', edit_uploader_path(uploader) %></td>
        <td><%= link_to 'Destroy', uploader, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Uploader', new_uploader_path %>
